@import url('https://fonts.googleapis.com/css2?family=Hind+Siliguri:wght@300;400;500;600;700&display=swap');

.centered{
    width: 221px;
    height: 116px;
    border-radius: 2px;
    display: block;
    background-color: #2E2E2E;
    text-align: center;
    font-family: 'Hind Siliguri', sans-serif;
}
.simple{
    width: 188px;
    height: 97px;
    padding-top: 1px;
    background-color: #2E2E2E;
    border-radius: 2px;
}
.mini{
    width: 232px;
    height: 59px;   
    padding-top: 1px;
    background-color: #2E2E2E;
    border-radius: 2px;
}
.centered #cardTitle{
    font-weight: 600;
    font-size: 18px;
    margin-left: auto;
    margin-right: auto;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    max-width: 195px;
}
.centered #cardCenter{
    font-size: 18px;
    font-weight: 400;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    max-width: 200px;
    margin-left: auto;
    margin-right: auto;
}
.centered #cardFooter{
    font-weight: 300;
    font-size: 11px;
    margin-left: auto;
    margin-right: auto;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    max-width: 195px;
}
.simple #titleCenterDiv{
    float: left;
    margin-left: 22px;
}
.simple #cardTitle{
    font-weight: 600;
    font-size: 16px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    max-width: 135px;
}
.simple #cardFooter{
    display: none;
}
.simple #cardCenter{
    font-size: 16px;
    font-weight: 400;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    max-width: 125px;
}
.simple #verticalLine{
    width: 2px;
    height: 68px;
    background-color: #31A24A;
    float: right;
    margin-top: 13px;
    margin-right: 15px;
}
.mini #cardTitle{
    font-weight: 600;
    font-size: 18px;
    margin-left: auto;
    margin-right: auto;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    max-width: 140px;
    float: left; 
    margin-left: 30px;
}
.mini #cardCenter{
    font-size: 18px;
    font-weight: 400;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    max-width: 25px;
    float: right;
    margin-right: 30px;
}
.mini #cardFooter{
    display: none;
}
